body {
  overflow-x: hidden;
}
textarea {
  box-sizing: border-box;
  width: 100%;
  height: 88%;
}

.output-area {
  border: 2px solid lightcoral;
  border-radius: 5%;
  background: #ffffff;
  width: 100%;
  height: 450px;
}
.snippet-container {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.snippet-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.snippet-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.snippet-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: move;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.output-container {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.output-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#generated-code {
  width: 100%;
}
